<div class="app-wrapper">
      <!-- Global Theme Toggle -->
      @if (authService.isAuthenticated()) {
        <div class="app-theme-bar">
          <app-theme-toggle></app-theme-toggle>
        </div>
      }
      
      @if (authService.isAuthenticated()) {
        <nz-layout class="app-layout">
          <nz-content class="app-content">
            <div class="inner-content">
              <nz-spin [nzSpinning]="isRouting()" nzSize="large" [nzDelay]="100">
                <router-outlet></router-outlet>
              </nz-spin>
            </div>
          </nz-content>
          
          <nz-footer class="app-footer">
            Visit Barcelona - Developed with Angular by TravelWithUs Team
          </nz-footer>
        </nz-layout>
      } @else {
        <nz-spin [nzSpinning]="isRouting()" nzSize="large" [nzDelay]="100">
          <router-outlet></router-outlet>
        </nz-spin>
      }
    </div>
